relation_pruning/datasets/**/* filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
triplet_creations/data/relation_data_filtered.csv filter=lfs diff=lfs merge=lfs -text
triplet_creations/data/relation_data_old.csv filter=lfs diff=lfs merge=lfs -text
triplet_creations/data/relation_data.csv filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.jsonl filter=lfs diff=lfs merge=lfs -text
triplet_creations/data/neo4j/freebase-wiki.dump filter=lfs diff=lfs merge=lfs -text
