# Environment Variables
*.ini
*.env

# Environment Workspaces

torch_env/
trivia_qa_gen/trivia_qa_gen_env/

# Private files/keys
reproducibility/service_account.json
.secrets/bucket_servacc.json
.gcs_cache

# Python Stuff
**__pycache__/
triplet_creations/configs/*
triplet_creations/launch.json
